{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  Настройки профиля
{% endblock %}
{% block content %}
  <div class="container rounded bg-light mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          {% if user.profile.avatar %}
            <img class="rounded mb-3" width="200" height="200" src="{{ user.profile.avatar.url }}" />
          {% else %}
            <img class="rounded mb-3" width="200" height="200" src="{% static 'img/default.jpg' %}" />
          {% endif %}
          <span class="font-weight-bold">{{ user.username }}</span>
          <span class="text-black-50">{{ user.email }}</span>
        </div>
      </div>
      <div class="col-md-5 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Настройки профиля</h4>
          </div>
          <form action="{% url 'accounts:edit_profile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Имя</label><input type="text" class="form-control" placeholder="Имя" name="first_name" value="" />
            </div>
            <div class="col-md-6">
              <label class="labels">Фамилия</label><input type="text" class="form-control" value="" name="last_name" placeholder="Фамилия" />
            </div>
            <div class="col-md-6">
              <label class="labels">Логин</label><input type="text" class="form-control" value="" name="username" placeholder="Логин" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label class="labels">Электронная почта</label><input type="text" class="form-control" name="email" placeholder="Адрес электронной почты" value="" />
            </div>
        </div>
        <div class="col-md-6">
          <label class="labels">Пароль</label><input type="password" class="form-control" value="" name="password" placeholder="Пароль" />
        </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <label class="labels">Описание</label><textarea type="text" style="width: 495px; resize: none;" name="bio" class="form-control mb-3" placeholder="Описание профиля" value=""></textarea>
            </div>
        <label for="inputGroupFile03">Изображение профиля</label>
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="profile_image" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
        </div>
          </div>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="text-right">Привязать социальные сети</h5>
        </div>
        <div>
            <a href="{% url 'social:begin' backend='google-oauth2' %}"><img src="{% static 'img/lgoogle.png' %}" width="35" height="35" class="avatar-3" data-toggle="tooltip" title="Войти с помощью гугл"></a>
            <a href="{% url 'social:begin' 'vk-oauth2' %}"><img src="{% static 'img/lvk.png' %}" width="45" height="45" class="avatar-3" data-toggle="tooltip" title="Войти с помощью вк"></a>
            <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="django_news_bot" data-userpic="false" data-size="medium" data-radius="10" data-auth-url="http://rex1de.pythonanywhere.com/auth/complete/telegram" data-request-access="write"></script>
        </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary btn-lg mb-5" type="submit">Сохранить</button>
            <a href="{% url 'accounts:profile' %}" class="btn btn-primary btn-lg mb-5">Отмена</a>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
