{% extends "main/base.html" %}
{% load static %}

{% block title %}{{profile.user.username}}{% endblock title %}

{% block content %}

<div class="container rounded bg-light mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            {% if profile.avatar %}
            <img class="rounded mb-3" width="200" height="200" src="{{user.profile.avatar.url}}">
            {% else %}
            <img class="rounded mb-3" width="200" height="200" src="{% static 'img/default.jpg' %}">
            {% endif %}
                <span class="font-weight-bold mt-2">{{profile.user.username}}</span> 
                <span class="font-weight-bold">{{profile.bio}}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Профиль</h3>
                </div>
                <h4 class="text-right">Дата регистрации: {{profile.user.date_joined}}</h4>
                <h4 class="text-right">Последний онлайн: {{profile.user.last_login}}</h4>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}