{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  Новости
{% endblock %}
{% block content %}
<div class="card-group">
  {% for news_item in news %}
    <a href="{{ news_item.get_absolute_url }}" style="width: 500px; display: inline-block" >
      <div class="card" style="width: 500px;">
        <img src="{{ news_item.image.url }}" class="card-img-top" style="height: 300px;" alt="..." />
        <div class="card-body" style="height: 200px;">
          <h5 class="card-title">{{ news_item.title }}</h5>
          <p><small>{{news_item.created}}</small></p>
          <p class="card-text">{{ news_item.description }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}
